<div class="dropdown">
    <div>
        {{text}}
    </div>
    <div style="height: 100px;overflow: hidden;margin-bottom: 10px">
        <div style="overflow: auto; height: 100px" class="scroll1">
            <div style="height: 500px;background: blue"></div>
        </div>
    </div>
    <div style="height: 100px;overflow: hidden">
        <div style="overflow: auto; height: 100px" class="scroll2">
            <div style="height: 500px;background: green"></div>
        </div>
    </div>
</div>
