@import "spinners/sk-circle";

@mixin spinkit($name: "spin-kit", $conf:()) {
    $default: (
            theme: 1
    );
    $conf: map-merge($default, $conf);

    @if map-get($conf, theme) == "1" {
        @include spinkit-circle($name, $conf);
    }
}
