@import "themes/single-menu";

@mixin dropdown-menu($name: "dropdown-menu", $conf: ()) {
  $default: (
          theme: "single"
  );
  $conf: map-merge($default, $conf);

  @if map-get($conf, theme) == "single" {
    @include dropdown-menu-single($name, $conf);
  }
}
