@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/* Visually hide an element
 *
 * When you hide an element with display: none, that prevents screen readers from reading it to the user.
 * Sometimes that’s fine, but in other cases this will make the site hard to use for people with screen readers.
 * Thus, we have to use another technique for hiding elements while at the same time make them accessible.
 *
 */
.visuallyhidden {
  border: 0;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
  /* Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */ }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/* Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/* Set a rem font size with pixel fallback
 *
 * Usage:
 *
 *   p {
 *     @include rem-font(14px);
 *   }
 *
 */
@media screen and (max-width: 30em) {
  html {
    font-family: "0"; } }
@media screen and (min-width: 30em) {
  html {
    font-family: "1"; } }
@media screen and (min-width: 40em) {
  html {
    font-family: "2"; } }
@media screen and (min-width: 48em) {
  html {
    font-family: "3"; } }
@media screen and (min-width: 60em) {
  html {
    font-family: "4"; } }
@media screen and (min-width: 71.25em) {
  html {
    font-family: "5"; } }

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px; }

/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* yuzijie */
/* yuzijie */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* yuzijie */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
/* bourbon bitters v1.0.0 */
html {
  /* font-family: sans-serif /* normalize.css v3.0.2: line 10 */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* color: #222 /* HTML5 Boilerplate v5.2.0: Line 14 */
  /* font-size: 1em /* HTML5 Boilerplate v5.2.0: Line 15 */
  /* line-height: 1.4 /* normalize.css v3.0.2: line 16 */ }

body {
  margin: 0;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

img {
  border: 0;
  margin: 0;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

audio,
canvas,
progress,
iframe,
img,
svg,
video {
  display: inline-block;
  vertical-align: middle; }

a {
  background-color: transparent;
  color: #0074D9;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #004b8d;
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  display: block;
  /* height: 1px /* HTML5 Boilerplate v5.2.0: Line 43 */
  border: 0;
  /* border-top: 1px solid #ccc /* HTML5 Boilerplate v5.2.0: Line 45 */
  /* margin: 1em 0 /* HTML5 Boilerplate v5.2.0: Line 46 */
  padding: 0;
  border-bottom: 1px solid #ddd;
  /* border-left: none /* bourbon bitters v1.0.0 */
  /* border-right: none /* bourbon bitters v1.0.0 */
  /* border-top: none /* bourbon bitters v1.0.0 */
  margin: 1.5em 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: inline;
  margin-right: 0.375em; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* @include appearance(none) /* bourbon bitters v1.0.0 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  /* border: 1px solid #c0c0c0 /* normalize.css v3.0.2: line 380 */
  /* margin: 0 2px /* normalize.css v3.0.2: line 381 */
  /* padding: 0.35em 0.625em 0.75em /* normalize.css v3.0.2: line 382 */
  /* border: 0 /* HTML5 Boilerplate v5.2.0: Line 70 */
  /* margin: 0 /* HTML5 Boilerplate v5.2.0: Line 71 */
  /* padding: 0 /* HTML5 Boilerplate v5.2.0: Line 72 */
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

input,
label,
select {
  /* display: block /* bourbon bitters v1.0.0 */
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  /* font-size: $base-font-size /* bourbon bitters v1.0.0 */
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 2.38879em; }

h2 {
  font-size: 1.99066em; }

h3 {
  font-size: 1.65888em; }

h4 {
  font-size: 1.3824em; }

h5 {
  font-size: 1.152em; }

h6 {
  font-size: 0.96em; }

button, input[type="button"], input[type="reset"], input[type="submit"], a.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #0074D9;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, a.button:hover, a.button:focus {
    background-color: #004b8d;
    color: #fff; }

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #0074D9 !important; }

a.button {
  text-align: center; }
  a.button:active {
    background-color: #0074D9; }
  a.button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #0074D9 !important; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea,
.text-input {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%;
  cursor: text; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover,
  .text-input:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus,
  .text-input:focus {
    border-color: #0074D9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 102, 192, 0.7);
    outline: none; }

.text-input {
  height: 2.25em;
  padding-top: 0.25em; }

body.overlay {
  overflow: hidden; }
  body.overlay:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 20; }

.dropdown {
  display: none;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }

.modal {
  display: none;
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 90%; }

#crop-frame {
  position: relative;
  background: white;
  display: inline-block; }
  #crop-frame .overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.alert {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }
  .alert .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0; }

input[type="color"].invalid-field, input[type="date"].invalid-field, input[type="datetime"].invalid-field, input[type="datetime-local"].invalid-field, input[type="email"].invalid-field, input[type="month"].invalid-field, input[type="number"].invalid-field, input[type="password"].invalid-field, input[type="search"].invalid-field, input[type="tel"].invalid-field, input[type="text"].invalid-field, input[type="time"].invalid-field, input[type="url"].invalid-field, input[type="week"].invalid-field, textarea.invalid-field {
  background-color: #ffcccc; }

[data-input-group].invalid-field {
  background-color: #ffcccc; }

.tooltip {
  display: none;
  position: absolute;
  padding: 0.3125em 0.625em;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  white-space: nowrap; }
  .tooltip:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 0;
    margin-left: -11px;
    bottom: -15px;
    left: 50%;
    border: 8px solid;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4); }
  .reverse.tooltip:after {
    bottom: 0;
    top: 0;
    box-shadow: none; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@-moz-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -moz-transform: scale(0); }
  40% {
    -moz-transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.dropdown {
  display: none;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }

.dropdown {
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid #F7F7F7;
  border-radius: 3px;
  z-index: 10; }

.dropdown {
  height: 300px;
  width: 200px;
  padding: 20px; }
  .dropdown div {
    height: 300px; }

.modal {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  background-color: #fff;
  z-index: 30; }

#crop-frame {
  border-radius: 3px;
  padding: 0.3125em; }
  #crop-frame .overlay {
    opacity: 0.5;
    background-color: white; }

.alert {
  z-index: 40; }
  .alert .inner {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ddd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 1.25em;
    border-radius: 3px;
    color: black; }

.tooltip {
  top: 0;
  left: 0;
  background-color: #333;
  border-radius: 3px;
  color: white; }
  .tooltip:after {
    border-color: transparent transparent #333 #333; }
  .tooltip.reverse:after {
    border-color: #333 #333 transparent transparent; }

.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 40em) {
    .accordion-tabs {
      border: 1px solid #ddd; } }
  .accordion-tabs .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
    @media screen and (max-width: 40em) {
      .accordion-tabs .tab-header-and-content:first-child .tab-link {
        border-top: 0; } }
  .accordion-tabs .tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    padding: 0.75em 0.809em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-link {
        display: inline-block;
        border-top: 0; } }
    .accordion-tabs .tab-link.is-active {
      background-color: #f7f7f7; }
      @media screen and (min-width: 40em) {
        .accordion-tabs .tab-link.is-active {
          background-color: #f7f7f7;
          border: 1px solid #ddd;
          border-bottom-color: #f7f7f7;
          margin-bottom: -1px; } }
  .accordion-tabs .tab-content {
    background: #f7f7f7;
    padding: 1.5em 1.618em; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-content {
        border: 1px solid #ddd;
        float: left; } }

/*# sourceMappingURL=main.css.map */
