<div class="alert">
    <div class="overlay"></div>
    <div class="inner">
        {{text}}
        <button style="padding: 5px 8px; margin-left: 15px" data-type="close">Close</button>
        <button style="padding: 5px 8px; margin-left: 15px" data-type="alert">Yes</button>
    </div>
</div>
